*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.849);
}
h1{
    padding-top: 2%;
    text-align: center;
    text-shadow: 1px 1px 1px white;
}
.galeria-fotos{
    object-fit: contain;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 350px;
    padding: 2%;
}
.galeria-fotos img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    scale: 80%;
}
img:hover{
    scale: 100%;
    border:1px solid #FFFF;
    position: relative;

}