*{
    margin: 0;
    padding: 0;
}
.content-web{
    width: 100%;
    height: 100vh;

    justify-items: center;
    align-content: center;

}
a,h4{
    text-decoration: none;
    width: 100%;
    color: #25A918;
}
.conent-galeria{
    width: 50%;
}
.conent-galeria, a{
    background-color: #000;
    text-align: center;
}
.conent-galeria:hover h4{
    background-color: rgb(48, 46, 46);
    border: 2px solid #6AB602;
    color: #FFFF;
}
.conent-galeria:active h4{
    border: 4px solid #FFFF;
}