*{
    margin:0;
    padding: 0;
}
.content-web{
    width: 100%;
    height: 100vh;
    align-content: center;
    justify-items: center;
}
.content-formulario{
    width: 50%;
    height: 70%;
    background-color: #000000cc;
    border: 2px solid green;
    box-shadow: 3px 5px 8px black;
    border-radius: 50px;
    align-content: center;
}
form{
    width: 100%;
    flex-wrap: 2%;
    color: #FFFF;
    text-align: center;
}
.campo{
    text-align: right;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2%;
    margin: 4%;
}
button{
    width: 80%;
    height: 40px;
    background-color: #82A91B;
    border: 2px solid #000;
    color: #FFFF;
    margin-left: 10%;
    font-size: 20px;
}
/*EFECTOS*/
.content-formulario:hover{
    scale: 110%;
}
.campo input:focus{
    background-color: #E6AB09;
}
button:active{
    background-color: #90a752;
    border: 3px solid white;
}
/*OTROS FORMATOS AL TEXTO*/
h1{
    text-shadow: 1px 2px 2px #FFFF;
}
