/*ESTRUCTURA PAGINA*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
/*NAVEGACIÓN*/
nav,main,footer,.item-menu{
    width: 100%;
}
nav,.logo,.menu{
    display: flex;
}
nav{
    height: 12%;
    z-index: 9999;

    /**/
    border-bottom:3px solid rgba(0, 0, 0, 0.445);
    background-color: #AE6F16;
}
.logo{
    height: 100%;
    width: 15%;
    z-index: 999;
    justify-content: center;
}
.logo img{
    display: block;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}
/*EFECTO LOGO*/
.logo img:hover{
    scale: 1.3;
}
.menu{
    /*POSICIONAMIENTO Y TAMAÑO*/
    width: 85%;
}
.item-menu,.item-menu a{
    background-color: #AE6F16 ;
    text-decoration: none;
    color:#FFFFFF;}

.item-menu{
    z-index: 9999;
    position: relative;
    text-align: center;
    align-content: center;

    /**/
}
.item-menu h3,.sub-item-content h4,.sub-item-content a{
    height: 100%;
    align-content: center;
}
.item-menu:hover,.item-menu a:hover{
    background-color: #875612;
}
.item-menu:hover{
    border-left: 1px solid black;
    border-right: 1px solid black;
}


/*SUBMENU*/
.sub-item-content,.sub-item{
    width: 100%;
    height: 80%;
}
.sub-item-content{
    position: absolute;
    top: 100%;

    /*ESTADO INVISIBLE DEL SUBMENU*/
    opacity: 0;
    visibility: hidden;
}
.sub-item{
    width: 100%;
    margin-top: 0.3%;
    height: 100%;
    width: 100%;
    display: block;
}
/*MOSTRAR EL SUBMENU AL PASAR EL RATON*/
.item-menu:hover .sub-item-content{
    opacity: 1;
    visibility: visible;
}

/*CUERPO PRINCIPAL*/
main{
    position: relative;
    height: calc(100vh - 17.3%);

    overflow: hidden;
    z-index: 0;


    /**/
    background-color: #FAF103;
}
.content{
    height: 100%;
    width: 100%;
    border: none;
    overflow-y: auto; 
    overflow-x: hidden;
}
/*FOOTER*/
footer{
    position: relative;
    height: 5%;
    z-index: 999;
    align-content: center;
    justify-items: center;

    /**/
    background-color: brown;
    color: #FFF;
}