/*TIPO DE TEXTOS PREDEFINIDOS*/
    /*TITULOS*/
    h1{
        font-family: "Paprika", system-ui;
        font-weight: 400;
        font-style: normal;
        color: #1B5E20;
    }
    h2{
        font-family: "Paprika", system-ui;
        font-weight: 370;
        font-style: normal;
        color: #1B5E20;
    }
    h3{
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }
    /*CUERPO Y LINKS*/
    p,a{
      font-family: "Gowun Dodum", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #333333;
    }
    /*TAGS*/
    h6{
        font-family: "Hachi Maru Pop", cursive;
        font-weight: 400;
        font-style: normal;
    }