/*TEXT TARJETAS*/
.tarjeta,.tarjeta p,.tarjeta h5,.tarjeta h6{
    color: #FFFF;
}

/*CONTENIDO PAGINA*/
main{
    display: grid;
    grid-template-columns: 75% 25%;
}
.content-web{
    grid-column: 1 / 2;
    margin: 2%;

    justify-items: center;
    align-content: center;
}
.content-web h1{
    font-size: 300%;
    margin-bottom: 2%;
}
/*BLOQUE PRESENTACION*/
#presentacion{
    width: 100%;
    margin-bottom: 2%;
}
#presentacion h2{
    margin-top: 6%;
    width: 50%;
    float: left;
}
#presentacion img{
    width: 40%;
    margin-left: 2%;
}

/*ESTILOS COLUMNA NOTICIAS*/
.noticias{
    margin: 1% 0% 1% 0%;
    grid-column: 2 / 3;

    border-left: 1px solid black;
}

.titulo{text-align: center;}

.content-noticias{
    margin: 3%;
}
/*TARJETAS*/
.tarjeta{
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
    justify-items: center;

    /**/
    background-color: #495E05;
    border-radius: 55px;
    border: 3px solid black;
}
.content-noticias a {
    text-decoration: none;
}
/*CONTENIDO TARJETAS*/
.tarjeta-content img{
    object-fit: contain;
    width: 100%;
}
.tarjeta-content{
    padding: 5%;
    width: 85%;

    /**/
/*     background-color: #ffffff46; */
    border: 1px solid #000;
/*     border: 1px solid #ffffff7e; */
/*     border-radius: 25px; */
    border-radius: 55px;
}
.pie-noticia{
    text-align: center;
}
/*EFECTO*/
.tarjeta:hover{
    scale: 1.01;
}